
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}
body{
    background-color: black;
    color: white;
}
.apreseted h1{
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
} 
.apreseted p{
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}  
.apreseted{
    text-align: center;
    padding: 50px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
    padding: 50px;
    margin: 30px 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container button{
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    width: 25%;
    height: 30%;
    color:black;
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover{
    opacity: 0.8;
    box-shadow: #3633eec7 0px 4px 8px;    
}   
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.menu ul{
    list-style: none;
    
    text-align: center;
    display: grid;
    grid-template-columns: 400px 400px  400px ;
   
    gap: 20px;
    margin-bottom: 30px;
}
.menu li{
    background-color: #343c47ef;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: #79cb15 0px 4px 8px;
}
.menu li img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: #79cb15 0px 4px 8px;
}
.price{
    color: #15cb5b;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;   
}
.name{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;   
}


